<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Index</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../resources/bootstrap-3.3.7/css/bootstrap.min.css"
	th:href="@{/resources/bootstrap-3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<p th:if="${error} != null">
			<h4 th:text="${error}"></h4>
		</p>
		<form class="form-contor" id="loginForm" th:action="@{/j_spring_security}" method="post">
			<div class="form-group">
				<label>Email address</label> <input type="text" name="username" id="username" />
			</div>
			<div class="form-group">
				<label>Password</label> <input type="text" name="password" id="password" />
			</div>
			<div>
			<input type="checkbox" name="_spring_security_remember_me"/>Remember
			</div>
			<div>
				<button id="btnlogin" class="btn btn-default" type="submit">Login</button>
			</div>
		</form>
	</div>
</body>
</html>
